/* ---------   Defaults -------   Framework ------  */
body {
	font-family: Helvetica;
	margin: 10px;
}

h1, h2, h3, h4, p {
	margin-top: 0;
}


/*  ---    main  stuff   ----    */



/* header block  */


.background{
	background-color: wheat;
	width: 70%;
}

.headerbox{
	background-color: lightgreen;
	height: 300px;
	color: white;

}

/*.maincontent{
	width: 80%;

}*/


.headerbox-inner {
	display: table-cell;
	vertical-align: middle;
	text-align: bottom;
} /* its not working */



/*Side Box*/


/*Section 1*/